@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200&display=swap');
p {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 18px;
}
a {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 18px;
}
h3 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 34px;
}
h2 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 24px;
}
h1 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 18px;
}
button {
  width: 60px;
  height: 60px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 24px;
}
